* {
  padding: 0%;
  margin: 0;

}



.autoi {
  padding-left: 5%;
}

.nav {
  background-color: white;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  position: fixed;
  z-index: 900;

}

.autom {
  /* background-color: aquamarine; */
  width: 40vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  color: gray;
  gap: 2%;
  position: relative;
  /* display: none; */

}

.autom p {
  margin-top: 10px
}

@media (max-width:700px) {
  .autom {
    display: none;
  }
}

.mainm {
  height: 4vh;
  /* background-color: black; */
  position: absolute;
  top: 50%;
}

#mt {
  display: none;

}

.mi {
  cursor: pointer;
  display: none;
  /* border: 2px solid; */
}

.menu {
  background-color: white;
  display: none;
  /* border: 2px solid; */
  /* height: 100%; */
  font-size: 2rem;
  padding: 10%;

}

.menu a {
  display: block;
  color: black;
}

#mt:checked~.menu {
  display: block;
}

.hd {
  /* border: 2px solid; */
  /* width: 40vw; */
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  position: fixed;
  /* display: none; */
  z-index: 999;
}

@media (max-width:700px) {
  .mi {
    display: block;
  }
}

@media (min-width:700px) {
  .menu a {
    display: none;
  }

  .menu {
    /* display: none; */
    /* border: 0ch; */
    width: 0%;
    height: 0%;
    opacity: 0;
  }
}

/* --------------------------------------------------------------- */
.main {
  background-image: url("car-repair-2560-x-1709-wallpaper-636vaflv6nxnjh7x.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* opacity: 0.5; */
}

button {
  padding: 1%;
  background-color: rgba(76, 150, 242, 1);
  margin-top:

}

.main1 {
  /* border-radius: 30%; */
  margin-top: 3%;
}

.main1:hover {
  transition-duration: 0.8s;
  transform: scale(1.5, 1);
}

/* ---------------------------------------------------- */
.box {
  /* border: 8px solid rgb(59, 227, 13); */
  /* width: 40vw; */
  /* height: 95vh; */
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 1fr);
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: -8%;
  background-color: rgb(252, 250, 250);
  /* grid-template-columns: repeat(auto-fill,minmax(300px,fr)); */
}

.boxh {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid gray; */
  border: 1px solid gray;
  /* border: 2px solid red; */
  flex-wrap: wrap;


}

.b1m {
  text-align: center;
  padding: 4%;
  /* height: 100% */

}

.b1m>h1 {
  color: rgba(76, 150, 242, 1);
  font-size: 4rem;
  font-weight: bolder;
  padding: 5%;
}

.b1m>h3 {
  font-weight: bold;
  font-size: 1rem;
}

/* ----------------------------------------------------- */

.head {
  margin-top: 5%;
  /* border: 2px solid red; */
  width: 100vw;
  height: 80vh;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */

  
}

.carbox {
  width: 60vw;
  /* border: 2px solid black; */
  position: relative;


}

.info {
  width: 40vw;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-left: 2%;
  flex-direction: column;
  padding-right: 10%;

}

.carbox img {
  animation-name: a;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */

}

@keyframes a {
  from {
    width: 0vw;
  }

  to {
    width: 60vw;
  }

}

/* .icon{
  font-size: xx-large;
  position: absolute;
  z-index: 200;
  top: 10px;
  right: 20px;
   background-color:rgba(76,150,242,1) ; 

}
.icm{
 background-color:rgba(76,150,242,1) ;
 border-radius: 100%;
 width: 4vw;
 text-align: center;
 color: white;
 font-weight: bolder;
 

}
.ititle{
  background-color: #e0e0e0;
  display: none;
}
.icon:hover .ititle{
  display: block;
} */


select {
  width: 50%;
}

.section {
  margin-bottom: 10px;
}

.section-title {
  padding: 15px 20px;
  background: #e0e0e0;
  cursor: pointer;
}

.section-content {
  padding: 15px 20px;
  /* display: none; */
}

.section:hover .section-title {
  background: #1e6fb9;
  color: white;
}

.section:hover .section-content {
  display: block;
}

.section-content {
  display: none;
  background: #f9f9f9;
}

/* ---------------------------------------------------------------------- */
.matter {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 1;
  padding: 5%;
}

span {
  font-weight: bolder;
}

/* ------------------------------ */
.imgcon {
  /* border: 2px solid yellow; */
  width: 100vw;
  height: 50vh;
  display: flex;


}
.child{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  /* border: 2px solid rgb(41, 18, 219); */
  flex-shrink: 1;
  
}

.child img {
  width: 100%;
  height: 100%;
}

.child h1 {
  display: none;
  font-weight: bolder;
}

.child p {
  display: none;
}

.child:hover {
  background: rgba(76, 150, 242, 1);
  transition-property: all;
  transition-duration: 0.5s;
  transform: scale(1.1,1.1);
}

.child:hover img {
  /* opacity: 0.3; */
  display: none;
}

.child:hover h1 {
  display: block;
  color: white;
}

.child:hover p {
  display: block;
  color: white;
}
/* ------------------------------------- */
.exp{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:700px) {
  .exp{
    flex-wrap: wrap;
  }
}

/* ---------------------------------- */
.no{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 12%;
}
.ct{
  /* border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  background-color: #e4e9ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
/* ------------------------------------ */
.ioc{
  position: relative;
}
.frcon{
  width: 80vw;
  display: flex;
  /* border: 2px solid grey; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -20%;
  background-color: white;
  position: absolute ;
}


.fr{
  width: 40vw;
  padding: 5%;
  /* border: 2px solid rgb(230, 25, 25); */
}
label{
  font-weight: bold;
  padding-bottom: 4%;
}
.fr-2>input{
  width: 30vw;
  height: 5vh;
}
textarea{
  width: 30vw;
  height: 10vh;
}
/* --------------------------------- */
.lastcon{
  /* border: 2px solid red; */
  width: 100vw;
  height: 35vh;
  /* background-color: red; */
  margin-top: 24%;
}
@media (max-width:1200px) {
  .lastcon{
    margin-top: 80%;
  }
}

.lastcon>img{
  width: 100%;
  height: 100%;
}
