.con {
  position: relative;
  width: 1500px;
  /* border: 5px solid ; */

}

img {
  width: 100%;

}

snap {
  background-color: black;
  padding: 10px;
  opacity: 0.7;
}

h1 {
  color: white;
  position: absolute;
  top: 330px;
  left: 600px;
  font-size: 3rem;
}

body {
  margin: 0px;
}

.con1 {
  /* border: 2px solid; */
  width: 1500px;
  margin-top: 40px;

}

.box {
  width: 365px;
  position: relative;
  display: inline-block;
  margin-right: 7px;
}

.a {
  position: absolute;
  top: 0%;
  background-color: black;
  color: white;
  font-size: small;
  padding: 5px;
  padding-right: 10px;
  border-bottom-right-radius: 20px;
}

h2 {
  margin: 0%;
}