.container{
    /* border :2px solid red; */
    width: 1300px;
    /* height: 700px; */
    padding: 100px;
    margin: auto;
}
.child-1{
    display: inline-block;
    vertical-align: 20%;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 600px; */
}
.child-2{
    display: inline-block;
    vertical-align: top;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 600px; */
}
.child-3{
    display: inline-block;
    vertical-align:top;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 600px; */
}
.child-4{
    display: inline-block;
    vertical-align: top;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 600px; */
}
img{
    width: 100%;
}
h2,p,h1{
    text-align: center;
}
