body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  /* border: 2px solid red; */
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.child {
  width: 30%;
  height: 20%;
  border: 3px solid #6FB7C1;
}

img{
  width: 100%;
  height: 100%;
  display: block;
}

p {
  width: 0px;
  height: 0px;
  /* border: 2px solid green; */
  opacity: 1;
}

.child:hover>img {
  display: none;
}

.child:hover>p {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #3A6EA5;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: x-large;
  color: #F1F6FA;
   transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  
  

}

h1 {
  color: red;
  font-style: italic;
  font-size: 3rem;
}